.footer {
  padding: 40px 0;
  background-color: #fff;

  &__social {
    text-align: center;
    padding-bottom: 25px;

    a {
      border: 1px solid #ccc;
      width: 40px;
      height: 40px;
      line-height: 38px;
      display: inline-block;
      border-radius: 50%;
      padding-top: 5px;
      margin: 0 8px;
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__list {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;

    li {
      display: inline-block;
      padding: 0 15px;
      a {
        opacity: 0.75;
        cursor: pointer;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: #aaa;
  }
}

@media (max-width: 390px) {
  .footer {
    &__list {
      font-size: 15px;
    }
  }
}
